<!--底部-->
<div class="footer">
    <div class="row">
        <div class="nav_con clearfix">
            <ul class="footer_nav fl">
                <li><a href="/">首页</a></li>
                <li><a href="/#page_05">关于蚁人</a></li>
                <li><a href="/#page_01">互动营销</a></li>
                <li><a href="/newsList">新闻中心</a></li>
                <li><a href="/#page_09">联系我们</a></li>
            </ul>
            <ul class="footer_con fr">
                <li class="phone">手机：<span><%= posts.phone %></span></li>
                <li class="mail">邮箱：<a href="mailto:<%= posts.email %>"><%= posts.email %></a></li>
                <li class="address">地址：<%= posts.address %></li>
            </ul>
        </div>

        <div class="f_link">
            <dl class="clearfix">
                <dt>友情链接：</dt>
                <% locals.LinkPosts.forEach(function(post, index) { %>
                <dd>
                    <a href="<%= post.links %>" rel="acquaintance" title="<%= post.keywords %>" target="_blank"><%= post.keywords %></a>
                </dd>
                <% }) %>
            </dl>
        </div>
        <p class="copyright"><%= posts.copyright %> <a target="_blank" href="http://www.miitbeian.gov.cn" rel="nofollow">粤ICP备16110942号-1
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261048939'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261048939%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
        </a></p>
    </div>
</div>
</body>
</html>