<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title><%= title %></title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>
<body style="width: 500px;">
<h1><%= title %></h1>
<form id="registerUsere" action="/doRegister" class="form-horizontal" role="form"  method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="col-sm-2 control-label">phone</label>
        <div class="col-sm-10">
            <input type="phone" name="phone" class="form-control" placeholder="phone">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="form-group form-inline">
        <label class="col-sm-2 control-label">验证码</label>
        <div class="col-sm-10">
            <input type="text" name="authCode" class="form-control" placeholder="">
            <input id="authCodeBtn" type="button" class="btn btn-default" value="免费获取验证码" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="hidden" name="channelId" value="<%= channelId %>"/>
            <input type='hidden' name='_csrf' value='<%= csrf %>'/>
            <button type="submit" class="btn btn-primary">注册</button>
        </div>
    </div>
</form>

<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
<script>
    $(function(){

        // 验证码
        var countdown=120;
        function settime(event,time) {
            if (countdown < 0) {
                event.prop("disabled",false);
                event.val("重新发送");
                countdown = time;
            } else {
                event.prop("disabled", true);
                event.val("重新发送(" + countdown + ")");
                countdown--;

                setTimeout(function() {
                    settime(event,time);
                },1000);
            }

        }


        //验证码校验
        $("#authCodeBtn").click(function(){
            var $this = $(this);
            var regx = /^(13|15|17|18|14)[0-9]{9}$/;
            var phone = $("input[name='phone']").val().trim();

            if(phone.match(regx)){
                console.log('yes..');
                $.get('/authCode?phone=' + phone,function(data){
                    console.log(data);
                    if(data.success){
                        settime($this,10);
                    }else{
                        alert(data.message);
                    }
                }).fail(function(){
                    alert('验证码发送失败，请稍后重试');
                });

            }else{
                alert('请填写正确的手机号码!!');
                console.log('error');
            }
        });

        $('#registerUsere').submit(function(){
            var phone = $("input[name='phone']").val().trim();
            var password = $("input[name='password']").val().trim();
            var authCode = $("input[name='authCode']").val().trim();

            if(phone ==""){
                alert('请填写您的手机号码！');
                return false;
            } else if(password ==""){
                alert('请填写您的密码！');
                return false;
            } else if(authCode ==""){
                alert('请填写您的验证码！');
                return false;
            }else{
                console.log(this);
                var formdata = new FormData(this);
                $.ajax({
                    type: 'post',
                    url: '/doRegister',
                    data: formdata,
                    contentType: false,
                    processData: false
                }).done(function (data) {

                    console.log(data);

                    if (data.status) {
                        alert("保存成功!");
                    } else {
                        alert(data.message);
                    }
                }).fail(function (data) {
                    console.log("注册失败！");
                });
            }
//            e.preventDefault()
            return false;
        });
    });

</script>



</body>
</html>